body{
    background-color: #f8f8f8;
    font-family: 'roboto', sans-serif;
}

main.contenedor{
    background-color: #ffffff;
    /*sombra*/
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    margin: 0 auto;
    width: 777px;
   
    display: grid;
     /*4 cajas de 1 fracción*/
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
    "header header header header" 
    "aside aside aside aside"
    "section section section section"
    "footer footer footer footer"; 
    /**separación columnas*/
    column-gap: 5px;
    /**separación columnas*/
    row-gap: 5px;
}

header{
    grid-area: header;
    height: 100px;
}

header.base{
    display: inline; 
}

header.juego{
    display: flex;
    justify-content: space-between;
}

nav{
    height: 100px;
    text-align: center;
}

nav.juego{
    background-color: rgb(187, 187, 187);
    width: 180px;
}

nav.base{
    text-align: center;
}

section{
    grid-area: section;
    border: solid 1px;
   
    display: flex;
    align-items: center;
    justify-content: center; 
}

section.juego{
    background-color: rgb(187, 187, 187);

}

section.base{
    height: 360px;

}

.juego_clase{

    border: solid 1px;
    display: flex;
    align-items: center;
    justify-content: center; 

}

form {
    height: 360px;
    width: 660px;

    display: flex;
    flex-direction: column;  
    align-items: center;

}

button, input, label{
    height: 25px;
    width: 200px;
    margin-top: 10px;
}

button{
    background-color: rgb(187, 187, 187);
}

button.grande{
    height: 50px;
    width: 250px;
}

article.niveles{
   
    height: 20%;
    width: 100%;
    grid-area: article;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;    
}

article.opciones{
    height: 100%;
    width: 100%;
    grid-area: article;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;  

}

aside{
    grid-area: aside;
    height: 50px;
    text-align: center;  
}

footer{
    grid-area: footer;
    text-align: center;
   
}

footer.juego{
    background-color: rgb(187, 187, 187);
}

.avisos_hist_clase{
    height: 100px;
    overflow-y: auto;
    text-align: start;
    font-size: 12px;
    margin-left: 10px;
}

ul{
    width: 100%;    
    background-color: rgb(187, 187, 187);
}

li{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    position: relative;
    padding-left: 10px;    
}

ul li::before {
    content: "-"; 
    position: absolute;
    left: 0;
  }

img{
    height: 20px;
    margin-left: 10px;
}